body{
    background-image: url('../img/happybirthday.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.main-box{
    background-image: url('../img/bgpink.jpg');
    width: 300px;
    height: 300px;
    border-radius: 5px 40px;
    margin: auto;
    margin-top: 230px;
    box-shadow: 0 0 12px -5px;
    padding-top: 1px;
}

.pic{
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 18px -3px;
}

.text{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(255, 140, 140);
    padding-top: 5px;
}

.happy{
    text-align: left;
    font-family: serif;
    color: rgb(255, 79, 79);
    padding-left: 15px;
    padding-top: 20px;
}